Program1  | Program2    | CFG1 		 | CFG2 	  | No. of lines in file1 | No. of lines in file2 | Diff. Count |
----------|-------------|------------|------------|-----------------------|-----------------------|-------------|
[InsertionSort1.c](test/InsertionSort1.c) | [InsertionSort2.c](test/InsertionSort2.c) | [InsertionSort1.cfg](testCFG/InsertionSort1.cfg) |[InsertionSort2.cfg](test/InsertionSort2.cfg) | 42 | 42 | 0 |
[InsertionSort1.c](test/InsertionSort1.c) | [InsertionSort3.c](test/InsertionSort3.c) | [InsertionSort1.cfg](testCFG/InsertionSort1.cfg) |[InsertionSort3.cfg](test/InsertionSort3.cfg) | 42 | 42 | 0 |
[InsertionSort1.c](test/InsertionSort1.c) | [InsertionSort4.c](test/InsertionSort4.c) | [InsertionSort1.cfg](testCFG/InsertionSort1.cfg) |[InsertionSort4.cfg](test/InsertionSort4.cfg) | 42 | 42 | 0 | 
[SelectionSort1.c](test/SelectionSort1.c) | [SelectionSort2.c](test/SelectionSort2.c) | [SelectionSort1.cfg](testCFG/SelectionSort1.cfg) |[SelectionSort2.cfg](test/SelectionSort2.cfg) | 50 | 44 | 18 |
[SelectionSort1.c](test/SelectionSort1.c) | [SelectionSort3.c](test/SelectionSort3.c) | [SelectionSort1.cfg](testCFG/SelectionSort1.cfg) |[SelectionSort3.cfg](test/SelectionSort3.cfg) | 50 | 44 | 18 | 
[SelectionSort2.c](test/SelectionSort2.c) | [SelectionSort3.c](test/SelectionSort3.c) | [SelectionSort2.cfg](testCFG/SelectionSort2.cfg) |[SelectionSort3.cfg](test/SelectionSort3.cfg) | 44 | 44 | 0 |





