Program1  | Program2    | CFG1 		 | CFG2 	  | Structure1     | Structure1  | No. of lines in file1 | No. of lines in file2 | Diff. Count |
----------|-------------|------------|------------|----------------|-------------|-----------------------|-----------------------|-------------|
[InsertionSort1.c](test/InsertionSort1.c) | [InsertionSort2.c](test/InsertionSort2.c) | [InsertionSort1.cfg](testCFG/InsertionSort1.cfg) |[InsertionSort2.cfg](test/InsertionSort2.cfg) | [InsertionSort1.txt](testStructure/InsertionSort1.txt | [InsertionSort2.txt](testStructure/InsertionSort2.txt) |42 | 42 | 0






